@import 'tailwindcss';

@theme {
  --color-red: #c84c4c;
  --color-background-dark: #101010;
  --color-yellow: #ffd600;
  --color-wood: #2e2600;
  --color-cloudwhite: #f9fafb;
}

@layer utilities {
  .background-gradient {
    background: linear-gradient(80deg, #101010 0%, #1c1c1c 100%);
  }
}
