@import 'tailwindcss';

@theme {
  --color-red: #c84c4c;
  --color-background-dark: #101010;
  --color-home: #ffd600;
}

@layer utilities {
  .background-gradient {
    background: linear-gradient(80deg, #101010 0%, #1c1c1c 100%);
  }
}
